/* SEARCH BAR */

.input-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  margin: 30px 50px 0 50px;
}

.input-container input {
  height: 40px;
  width: 80%;
  margin-right: 10px;
  border: 0.5px solid black;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding-left: 20px;
}

.input-container button {
  height: 40px;
  width: 20%;
  background: rgba(116, 51, 241);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.invalid {
  color: red;
  text-align: center;
}